.cart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    flex-direction: column;
}

.cart-section-title {
    font-weight: 300;
    font-size: 46px;
    letter-spacing: 1px;
}

.cart-section-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.empty-text-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    height: 300px;
}

/* Styling for cards */

.cart-item-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 100px;
    border: 1px solid var(--primary-color);
    margin-top: 55px;
}

/* Card img */ 

.cart-item-card-img {
    width: 100px;
}


/* Styling for the card info (No img) */

.cart-item-card-items-wrapper {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* Card name */

.cart-item-card-name {
    font-size: 26px;
    letter-spacing: 1px;
}

/* Styling for selector */

.items-selected-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Styling for selector icons */

.cart-item-icon {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.cart-item-icon:hover {
    opacity: 80%;
    transform: scale(1.05);
}

.cart-item:nth-child(2) {
    margin: 15px;
    font-weight: 300;
    font-size: 20px;
}

.cart-remove-item-icon {
    cursor: pointer;
}

/* Cart total value box */

.cart-total-value {
    width: 450px;
}

/* Cart total value title */

.cart-total-value-title {
    font-weight: 400;
    font-size: 36px;
    margin: 0;
}

/* Cart total value wrapper for text */

.cart-total-value-text-wrapper {
    display: grid;
    grid-template-columns: 200px 50px;
    grid-template-rows: 70px 70px 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--primary-color);
}

/* Cart total wrapper for button */

.cart-total-button-wrapper {
    display: flex;
    justify-content: center;
}

/* Cart total btn */

.cart-total-btn-link {
    width: 100%;
}

.cart-total-btn {
    width: 100%;
    height: 40px;
    background-color: var(--primary-button-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.cart-total-btn:hover {
    background-color: var(--primary-button-color-hover);
}

/* Cart mediaquerries */

@media screen and (max-width: 1150px) {
    .cart-section-wrapper {
        gap: 5%;
    }

    .cart-total-value {
        width: 230px;
    }

    .cart-item-card-name {
        font-size: 24px;
    }

    .cart-total-value-text-wrapper {
        display: grid;
        grid-template-columns: 170px 50px;
        grid-template-rows: 70px 70px 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid var(--primary-color);
    }
}

@media screen and (max-width: 960px) {
    .cart-section-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cart-items {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 960px) {
    .cart-item-card-items-wrapper {
        display: grid;
        grid-template-columns: 200px 100px 200px;
        grid-template-rows: 50px 50px;
    }

    .cart-remove-item-icon {
        grid-column: 3 / -2;
        grid-row: 1;
    }

    .cart-item-card-price {
        font-weight: 500;
        font-size: 18px;
    }
}

@media screen and (max-width: 670px) {
    .cart-item-card {
        width: 360px;
    }

    .cart-item-card-items-wrapper {
        display: grid;
        grid-template-columns: 180px 70px;
        grid-template-rows: 50px 50px;
    }

    .cart-remove-item-icon {
        grid-column: 3 / -2;
        grid-row: 1;
    }

    .cart-item-card-price {
        font-weight: 500;
        font-size: 18px;
    }
}