/* Orders Styling */

.order-section {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-wrap: wrap;
    flex-direction: column;
}

.order-section-title {
    font-weight: 300;
    font-size: 46px;
    letter-spacing: 1px;
}

.order-section-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20%;
}

/* Styling for cards */

.order-card {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid var(--primary-color);
    margin-top: 55px;
}

/* Styling for the card info */

.order-card-id {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
}

.order-card-wrapper {
    display: grid;
    grid-template-columns: 200px 100px 100px 100px;
    grid-template-rows: 50px 50px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.order-total-price {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 500;
}

/* Card name */

.order-card-name {
    font-size: 26px;
    letter-spacing: 1px;
}

/* Card ingredients */

.order-card-ingredients {
    font-size: 16px;
    grid-column: 1 / -5;
    grid-row: 2;
}

/* Styling for quantity */

.order-card-quantity {
    font-size: 16px;
    grid-column: 2 / -3;
    grid-row: 2;
}

/* Styling for price */

.order-item-card-price {
    grid-column: 3 / -2;
    grid-row: 2;
}

/* Cart remove icon */

.order-remove-item-icon {
    cursor: pointer;
    grid-column: 4 / -2;
    grid-row: 1;
}