.home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92.4vh;
    background-image: url('../../assets/pizza-4968645_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 15px;
    margin: 0;
}

.home-section-title {
    color: white;
    font-size: 46px;
    text-shadow: 3px 3px 3px black;
    margin: 0;
}

.home-section-btn {
    padding: 8px 36px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-button-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-section-btn:hover {
    background-color: var(--primary-button-color-hover);
}