/* Navbar box */

.navbar {
    width: 100%;
    background-color: var(--primary-color);
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

/* Navbar link */

a {
    text-decoration: none;
}

/* Navbar menu icon */

.menu {
    display: none;
}

/* Navbar Pizzaboden */

.navbar-title {
    color: white;
}

/* Navbar menu list */

.navbar-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 55px;
}

/* Navbar items */

.navbar-item {
    list-style-type: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Navbar item "om oss" */

.navbar-item-about {
    width: 70px;
    text-align: center;
}

.navbar-item:hover {
    opacity: 80%;
}

/* Navbar mediaquerries */

@media screen and (max-width: 1035px)  {
    .navbar {
        gap: 20%;
    }
    .navbar-list {
        gap: 25px;
    }
}

@media screen and (max-width: 835px)  {
    .navbar {
        gap: 5%;
    }
    .navbar-list {
        gap: 25px;
    }
    
}

@media screen and (max-width: 725px)  {
    .navbar {
        gap: 55%;
    }
    .navbar-list {
        display: none;
    }
    .menu {
        display: block;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }

}
@media screen and (max-width: 500px)  {
    .navbar {
        gap: 35%;
    }
}