.navbar {
    width: 100%;
    background-color: var(--primary-color);
    height: 70px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

a {
    text-decoration: none;
}

.menu {
    display: none;
}

.navbar-title {
    color: white;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.navbar-item {
    list-style-type: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar-item:hover {
    opacity: 80%;
}

@media screen and (max-width: 840px)  {
    .navbar {
        gap: 10%;
    }
    .navbar-list {
        gap: 25px;
    }
}
@media screen and (max-width: 670px)  {
    .navbar {
        gap: 40%;
    }
    .navbar-list {
        display: none;
    }
    .menu {
        display: block;
        color: white;
        font-size: 28px;
        cursor: pointer;
    }
}@media screen and (max-width: 400px)  {
    .navbar {
        gap: 25%;
    }
    .navbar-list {
        display: none;
    }
    .menu {
        display: block;
        color: white;
    }
}